<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>呼吸</key>
	<string>295</string>
	<key>心血管</key>
	<string>290</string>
    <key>消化</key>
    <string>291</string>
    <key>神经</key>
    <string>536</string>
    <key>骨科</key>
    <string>322</string>
    <key>肿瘤</key>
    <string>273</string>
    <key>内分泌</key>
    <string>292</string>
    <key>感染</key>
    <string>299</string>
    <key>风湿免疫</key>
    <string>294</string>
    <key>影像</key>
    <string>552</string>
    <key>肾内</key>
    <string>549</string>
    <key>妇产科</key>
    <string>548</string>
    <key>儿科</key>
    <string>550</string>
    <key>泌尿</key>
    <string>551</string>
    <key>普外</key>
    <string>556</string>
    <key>危机重症</key>
    <string>565</string>
    <key>麻醉</key>
    <string>553</string>
    <key>神外</key>
    <string>559</string>
    <key>胸外</key>
    <string>561</string>
    <key>皮肤</key>
    <string>562</string>
    <key>整形</key>
    <string>558</string>
    <key>眼科</key>
    <string>557</string>
    <key>精神</key>
    <string>563</string>
    <key>康复</key>
    <string>567</string>
    <key>血液</key>
    <string>569</string>
    <key>耳鼻喉</key>
    <string>564</string>
    <key>超声</key>
    <string>568</string>
    <key>口腔</key>
    <string>566</string>
    <key>医疗新闻</key>
    <string>560</string>
    <key>药品汇</key>
    <string>543</string>
    <key>论文基金</key>
    <string>541</string>
    <key>丁香六度</key>
    <string>542</string>
    <key>健康互联</key>
    <string>544</string>
    <key>护理</key>
    <string>572</string>
    <key>医疗器械</key>
    <string>571</string>
    <key>会议</key>
    <string>570</string>
    <key>调查派</key>
    <string>554</string>
    <key>检验</key>
    <string>573</string>
</dict>
</plist>
